@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.calendar-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.calendar-header {
  margin-bottom: 1rem;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.5rem;
}

.calendar-day-header {
  padding: 0.5rem;
  background-color: #f0f0f0;
}

.calendar-day {
  padding: 0.75rem;
  border: 1px solid #ddd;
  cursor: pointer;
}

.calendar-day.bg-blue-200 {
  background-color: #bfdbfe;
}

.calendar-day.bg-red-200 {
  background-color: #fecaca;
}
